<!doctype html>
<html>

<head>
  <title>Add New Snips</title>
</head>

<body>
  <header>
  </header>

  <main>
      <form method="post" action="add">
          <label>Title:</label>
          <input type="text" name="title">
          <br>
          <label>Code:</label>
          <textarea name="code" rows="10" cols="50"></textarea>
          <br>
          <label>Notes:</label>
          <textarea name="notes" rows="10" cols="50"></textarea>
          <br>
          <label>Language:</label>
          <input type="text" name="language">
          <br>
          <label>Tags:</label>
          <input type="text" name="tags">
          <input type="submit" value="Add">
      </form>
  </main>
</body>

</html>
